body {
    background-color: rgb(61, 61, 61);
}

.title {
    color: white;
}

.grid-item:hover {
    border: 1px solid;
    background-color:blue;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-size), 1fr);
    grid-template-columns: repeat(var(--grid-size), 1fr);
    border: 1px solid white;
    height: 600px;
    width: 600px;

}

.hover-trail {
    background-color: blue;
}